.container {
	width:100%;
	background-color: #66CD00;
	padding:30px;
	height:600px;
}

.col-one, .col-two {
	width:49.6%;
	height:550px;
	float:left;
}

.col-one img {
	float:right;
}

.col-two .square {
	width:50%;
	border: 2px solid white;
	height:550px;
	text-align: center;
	font-family: sans-serif;
	border-radius: 10px;
}

.square h2 {
	color:white;
	letter-spacing: 1px;
}

body {
	background-color: #66cd00;
}